<!DOCTYPE html>
<html>
<head>
  <title>Food Hub</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom.css') }}">
  <style>
    .container {
      position: relative;
    }

    .half-circle-image {
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 0 50% 50% 0;
    }
  </style>
</head>
<body>
  <nav class="navbar">
    <div class="navbar-brand">Food Hub</div>
    <form class="search-form" action="{{ url_for('search') }}" method="GET">
      <input class="search-input" type="text" name="location" placeholder="Enter location">
      <button class="search-button" type="submit">Search</button>
    </form>
  </nav>
  <div class="container">
    <h1>Name 1</h1>
    <p>Review 1</p>
	<h1>Name 2</h1>
    <p>Review 2</p>
	<h1>Name 3</h1>
    <p>Review 3</p>
    <img class="half-circle-image" src="{{ url_for('static', filename='images/kid-cereal.gif') }}" alt="Animated kid GIF">
  </div>
</body>
</html>