{% extends "header.html" %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>{{ business.name }} Details</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom.css') }}">
</head>
<body>
    <div class="content">
        <h1>Details</h1>
        <ul>
            <li><strong>Name:</strong> {{ business.name }}</li>
            <li><strong>Rating:</strong> {{ business.rating }}</li>
            <li><strong>Phone:</strong> {{ business.phone }}</li>
            <li><strong>Address:</strong> {{ business.location.address1 }}, {{ business.location.city }}, {{ business.location.state }} {{ business.location.zip_code }}</li>
            <li><strong>Price Range:</strong> {{ business.price }}</li>
        </ul>
        {% if current_user.is_authenticated %}
        <h2>Post a Review</h2>
        <form method="POST" action="" enctype="multipart/form-data">
            <div class="form-group">
                <label for="comment">Comment</label>
                <input type="text" id="comment" name="comment" required>
                <label for="image">Image</label>
                <input type="file" class="form-control-file" id="image" name="image" required>
                <button type="submit" class="btn btn-primary" id="submit" name="submit">Post</button>
            </div>

 
        </form>
        {% endif %}
        <h2>Review, total: {{ reviews|length }} </h2>
        {% for review in reviews %}
            <div class="review">
                <p><strong>Commenter:</strong> {{ review.commenter.username }}</p>
                <p><strong>Comment:</strong> {{ review.comment }}</p>
                <img src="data:image/png;base64, {{review.image_encoded}}" alt="Review Image">
            </div>
        {% endfor %}
    </div>
</body>
</html>

{% endblock %}


{{ form.hidden_tag() }}
{{ form.comment.label }}
{{ form.comment(class="form-control") }}
{{ form.image.label }}
{{ form.image(class="form-control-file") }}
{{ form.submit(class="btn btn-primary") }}